version: "3.9"

services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

  api:
    build: ./worker
    restart: unless-stopped
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
      CURRENCY_RATES_URL: ${CURRENCY_RATES_URL}
      REFERENCE_CURRENCY: ${REFERENCE_CURRENCY}
      PRIMARY_QUOTE_CURRENCY: ${PRIMARY_QUOTE_CURRENCY}
      SECONDARY_QUOTE_CURRENCY: ${SECONDARY_QUOTE_CURRENCY}
    env_file:
      - .env
    networks:
      - app-network

  bot:
    build: ./bot
    restart: unless-stopped
    depends_on:
      - api
    env_file:
      - .env
    networks:
      - app-network

  web:
    build: ./web
    restart: unless-stopped
    depends_on:
      - api
    ports:
      - "8501:8501"
    networks:
      - app-network
    
    environment:
      API_BASE_URL: "http://api:8000"

volumes:
  db_data:

networks:
  app-network:
    driver: bridge